.page-header-wrapper{
	line-height:80px; 
	height:80px; 
	border-bottom:3px solid #00e6e6;
	opacity:0.95;
	position:relative;
	z-index:2;
	font-family: segoe;
}

.all-topics-wrapper{
	margin:auto; 
	position:absolute; 
	top:0; 
	bottom:0; 
	left:0; 
	right:0; 
	width:350px; 
	height:80px;
}

.topic-wrapper{
	height:80px;
	float:left;
}

.header-topic{
	font-weight:bold;  
	padding-left:20px; 
	font-size:22px;
	cursor: default;
}

.list-wrapper{
	width:200px; 
	color: black;
	position: absolute; 
	top:78px;
	left: 0px;
	font-weight: bold;
	z-index:10000;
	background: white;
	cursor:pointer;
	border: 1px solid black;
	border-bottom: 0px solid black;
}

.item{
	line-height:40px;
	border-bottom: 1px solid black;
	text-align: left;
	padding-left:20px;
	display:block;
	cursor:pointer;
	font-size:16px;
}

.item:hover{
	background: #585859;
	color:white;
}

.charts{
	cursor: pointer;
	text-align:center;
	display:inline-block;
	line-height:20px;
}

.open-triangle{
	position:relative; 
	left:101px; 
	top:-44px; 
	font-size:3px;
}


.bear-logo{
	margin-left:20px; 
	font-size:30px; 
	display:inline;
	font-family: khand;
	color:#0059b3;
}


.home-logo{
	font-size:32px; 
	line-height:75px;	/* 75 instead of 80 (height of entire component) to make it perfect */
	vertical-align:text-center;
	cursor:pointer; 
	margin-left:20px;
	color:white;
}


.menu-icon{
	font-size:28px;
	height:30px;
	cursor:pointer;
	display:none;
	position:absolute;
	right:20px;
	top:25px;
}


.menu-wrapper{
	display:none;
	position:absolute; 
	top:90px; 
	right:20px; 
	z-index:3;
}

.header-in-list{
	font-size:20px;
	border-top:0;
	padding-top:15px;
	padding-bottom:15px;
	cursor:pointer;
	font-family: segoe;
	background: white;
	color: #109ced;
}


.header-in-list:hover{
	background: #109ced;
	color:white;
}




@media only screen and (max-width: 780px) {

	.all-topics-wrapper{	 /* important... */
		display:none;
	}
	
	.menu-wrapper{
		display:block;
	}
	
	.menu-icon{
		display:block;
	}
	
}