*{
	font-family:segoe;
}



table {
    font-family:segoe;
    border-collapse: collapse;
    width: 420px;
    font-size:17px;
}


td, th {
    border-bottom: 1px solid #1a8cff;
    text-align: left;
    padding: 8px 20px;
    margin: 0 15px;
}

th {
	border-bottom: 2px solid #1a8cff;
	border-top: 2px solid #1a8cff;
}

tr:last-child{
	border-bottom: 2px solid #1a8cff;
}

tr:nth-child(even) {
    /* background-color: #b3ecff; */
    background-color: #e0e0d1;
}

.bold-font{
	font-weight:bold;
}

.statistics-table-header{
	color:black; 
	margin-bottom:30px;
	margin-top:50px;
	text-decoration:underline;
	font-size:20px;
}

.wrapper{
	width:900px; 
	margin:70px auto 90px auto;
}


.performance-table{
	float: left;
}

.summary-table{
	float: right;
}


.currency-name{
	font-weight:bold;
	cursor: pointer;
}

.currency-price{
	font-size: 18px;
	margin-right:20px;
	float:left;
	width: 60px;
}

.daily-return{
	font-size: 18px;
	margin-right:20px;
	float:left;
	width: 60px;
}

.yearly-return{
	font-size: 18px;
	float:left;
	width: 60px;
}





@media only screen and (max-width: 780px) {

	
	table {
	    font-size:16px;
	    width: 300px;
	}

	td, th {
	    padding: 5px;
	}
	
	.wrapper{
		width:345px; 
	}
	
	.statistics-table-header{
		margin-left: 15px;
	}
	
	.performance-table{
		margin-left: 15px;
	}

	.summary-table{
		float: left;
		margin-left: 15px;
		margin-top:60px;
		margin-bottom: 30px;
	}
	
	
	
}


