*{
	font-family:segoe;
}


.wrapper{
	width:400px; 
	margin: 100px auto; 
}

.last-price{
	font-size:22px; 
	font-weight:bold; 
	width:180px;  
	margin:100px auto;
}

.bar-chart{
	width:400px; 
	height:300px;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	margin-bottom:40px;
}




@media only screen and (max-width: 400px) {

	.wrapper{
		width:320px; 
		margin-left:-10px;		/* it fixes it somehow..  */
	}
	
	.last-price{
		font-size:19px; 
		font-weight:initial; 
	}
	
	.bar-chart{
		width:280px; 
		height:250px;
		margin-left:0;
		margin-right:0;
	}
	
}



