<page-header></page-header>


<div class="container-fluid">

	<div class="row">
	
		<div class="col-xs-12" >
	
			<search-asset class="search-asset"></search-asset>
	
		</div>
		
	</div>	
	
	<div class="row">
	
    	<div class="col-xs-12" >
    	
    	<div class="asset-summary-table-wrapper">

			<section *ngIf="isShowAssetData">
			
				<p class="asset-name-headline" style="padding-left:15px">{{asset.nameToShow}}</p>
			    <div class="pull-left asset-rate"> {{assetData.lastPrice}}</div>
			    <div class="pull-left">
				    <div class="pull-left asset-daily-change" style="padding-top:8px;" [style.color]="getChangeColor()">{{getAssetChangeSign()}}{{assetData.netChangePercent.toFixed(2)}}%</div>
				    <div class="pull-right asset-daily-change" style="padding-top:8px;" [style.color]="getChangeColor()" ><span style="font-size:24px;vertical-align:top;">(</span>{{getAssetChangeSign()}}{{assetData.netChange}}<span style="font-size:24px;vertical-align:top;">)</span></div>
			    </div>
			    <div class="last-trade-time">{{convertTimeStamp()}}</div>
				
				<div class="pull-right switch-view-button" [class.switch-view-button-active]="isShowAssetTechnicals" (click)="assetTechnicalsOn()">Technicals</div>			    
			    <div class="pull-right switch-view-button" [class.switch-view-button-active]="isShowAssetPerformance" (click)="assetPerformanceOn()">Performance</div>
			    <div class="pull-right switch-view-button" [class.switch-view-button-active]="isShowAssetSummary" (click)="assetSummaryOn()">Summary</div>
			    <div class="switch-view-button" style="float:left" *ngIf="isShowAssetPerformance" (click)="toggleExplanation()"><div class="question-mark-button" id="questionMarkButton">?</div></div>
				<div class="clearfix"></div>
				
				
				
				
				
				
				
							
				<section *ngIf="isShowAssetSummary" style="border-top:2px solid #42ddae;">
				    
				    <div class="pull-left asset-data-list">
					    <div class='asset-data-div'>Previous Close <span class='pull-right'>{{assetData.previousClose}}</span></div>
					    <div class='asset-data-div'>Open Price <span class='pull-right'> {{assetData.open}}</span></div>
					    <div class='asset-data-div'>Day Range <span class='pull-right'> {{assetData.low}} - {{assetData.high}}</span> </div>
					    <div class='asset-data-div'>Year Range <span class='pull-right'> {{assetData.fiftyTwoWkLow}} - {{assetData.fiftyTwoWkHigh}} </span> </div>
					    <div class='asset-data-div'>12 Month Return <span  class='pull-right'>{{assetData.twelveMnthPct}}%</span></div><br>
				    </div>
				    <div  class="pull-left asset-data-list">
					    <div class='asset-data-div'>Volume <span class='pull-right'>{{assetData.volume}} </span></div>
					    <div class='asset-data-div'>Avg Volume<span class='pull-right'>{{assetData.monthlyAverageVolume}} </span></div>
					    <div *ngIf="asset.type=='Stock'">
						    <div class='asset-data-div'>Market Cap <span class='pull-right'>{{assetData.marketCap}}B </span></div>
						    <div class='asset-data-div'>Dividend Yield YOY <span class='pull-right'>{{assetData.dividendYieldAnnual}}% </span></div>
					    </div>
					    <div *ngIf="asset.type.substring(0,6)=='Future'">
						    <div class='asset-data-div'>Implied Volatility <span class='pull-right'>{{assetData.impliedVolatility}}% </span></div>
						    <div class='asset-data-div'>Expiration Date	 <span class='pull-right'>{{convertExpirationDate()}} </span></div>
						    <div class='asset-data-div'>Open Interest <span class='pull-right'>{{assetData.openInterest}} </span></div>
					    </div>
				    </div>
				    
				</section> 
			  
			  
			    <section *ngIf="isShowAssetPerformance" style="border-top:2px solid #42ddae; position:relative; padding-bottom:40px;">
			    <div *ngIf="isShowHistoricData">
				    <div *ngIf="isShowExplanation">
						<asset-performance-bar-explanation [isShowLastPrice]="'true'" [lastPriceLeft]="40" [positionInExplanationsArr]="1"></asset-performance-bar-explanation>
					</div>
			    
				    <div class="asset-return-wrapper">
					    <div class="asset-return-div">1 Week Return <span class='pull-right' style="padding-right:0px;">{{oneWeekPerformance.return.toFixed(2)}}%</span></div>
					    <div class="asset-performance-bar-wrapper">
					    <asset-performance-bar [sessionLow]="oneWeekPerformance.low" [sessionHigh]="oneWeekPerformance.high" [sessionLowReturn]="oneWeekPerformance.lowReturn" 
					    [sessionHighReturn]="oneWeekPerformance.highReturn" [greenWidth]="oneWeekPerformance.greenWidth" [redWidth]="oneWeekPerformance.redWidth"></asset-performance-bar>
					    </div>
				    </div>
				    
				    <div class="asset-return-wrapper">
					    <div class="asset-return-div">1 Month Return <span class='pull-right'>{{oneMonthPerformance.return.toFixed(2)}}%</span></div>
					    <div class="asset-performance-bar-wrapper">
					    <asset-performance-bar [sessionLow]="oneMonthPerformance.low" [sessionHigh]="oneMonthPerformance.high" [sessionLowReturn]="oneMonthPerformance.lowReturn" 
					    [sessionHighReturn]="oneMonthPerformance.highReturn" [greenWidth]="oneMonthPerformance.greenWidth" [redWidth]="oneMonthPerformance.redWidth"></asset-performance-bar>
						</div>
					</div>
					<div class="asset-return-wrapper">
					    <div class="asset-return-div">3 Months Return <span class='pull-right' style="padding-right:0px;">{{threeMonthPerformance.return.toFixed(2)}}%</span></div>
					    <div class="asset-performance-bar-wrapper">
					    <asset-performance-bar [sessionLow]="threeMonthPerformance.low" [sessionHigh]="threeMonthPerformance.high" [sessionLowReturn]="threeMonthPerformance.lowReturn" 
					    [sessionHighReturn]="threeMonthPerformance.highReturn" [greenWidth]="threeMonthPerformance.greenWidth" [redWidth]="threeMonthPerformance.redWidth"></asset-performance-bar>    
				    	</div>
				    </div>
				    <div class="asset-return-wrapper">
					    <div class="asset-return-div">6 Months Return <span class='pull-right' style="padding-right:0px;">{{sixMonthPerformance.return.toFixed(2)}}%</span></div>
					    <div class="asset-performance-bar-wrapper">
					    <asset-performance-bar [sessionLow]="sixMonthPerformance.low" [sessionHigh]="sixMonthPerformance.high" [sessionLowReturn]="sixMonthPerformance.lowReturn" 
					    [sessionHighReturn]="sixMonthPerformance.highReturn" [greenWidth]="sixMonthPerformance.greenWidth" [redWidth]="sixMonthPerformance.redWidth"></asset-performance-bar>    
				    	</div>
				    </div>
				    <div class="asset-return-wrapper">
					    <div class="asset-return-div">9 Months Return <span class='pull-right' style="padding-right:0px;">{{nineMonthPerformance.return.toFixed(2)}}%</span></div>
					    <div class="asset-performance-bar-wrapper">
					    <asset-performance-bar [sessionLow]="nineMonthPerformance.low" [sessionHigh]="nineMonthPerformance.high" [sessionLowReturn]="nineMonthPerformance.lowReturn" 
					    [sessionHighReturn]="nineMonthPerformance.highReturn" [greenWidth]="nineMonthPerformance.greenWidth" [redWidth]="nineMonthPerformance.redWidth"></asset-performance-bar>
						</div>
					</div>    
				</div>
			    </section>
			    
			    
			    <section *ngIf="isShowAssetTechnicals" style="border-top:2px solid #42ddae;">
			    	<div class='timeframe-wrapper'>
				    	<div class='timeframe-button' [class.timeframe-button-active]="isMonth" (click)="switchTimeFrame($event)">Month</div>
				    	<div class='timeframe-button' [class.timeframe-button-active]="isWeek" (click)="switchTimeFrame($event)">Week</div>
				    	<div class='timeframe-button' [class.timeframe-button-active]="isDay" (click)="switchTimeFrame($event)">Day</div>
				    	<div class='timeframe-button' [class.timeframe-button-active]="isMinute" (click)="switchTimeFrame($event)">Minute</div>
			    	</div>
			    	<div style='clear:both'></div>
				    <div class="pull-left asset-data-list">
					    <div class='asset-data-div'>MA 50 <span class='pull-right'>{{MA50}}</span></div>
					    <div class='asset-data-div'>MA 100 <span class='pull-right'>{{MA100}}</span></div>
					    <div class='asset-data-div'>MA 200 <span class='pull-right'>{{MA200}}</span> </div>
					    <div class='asset-data-div'>RSI <span class='pull-right' [style.color]='getRSIColor()'>{{RSI.toFixed(2)}}</span></div>
					    <div class='asset-data-div'>Trend <span class='pull-right'>{{overallTrend}}</span></div>
				    </div>
				    
			    </section> 
			  
			  
			    
			  </section>
			  
		</div>	  
  		</div>
  
  		<div class="col-md-4" ></div>
  
     </div>
     
     <div class="row">
	
		<div class="col-xs-12" style="margin-bottom:100px;">
		
			<div  class="chart-wrapper" (mousemove)='charts.adjustGridLines($event, chart, chartProperties)' (mouseleave)='charts.hideGridLines(chartProperties)' #chart>
					<div *ngIf="isShowTable">
						<div *ngFor="let internalAxis of ( chartProperties.internalAxises );">
							<div class="internal-axis" [style.top]="internalAxis.top+'px'"></div>
							<div class='internal-axis-value' [style.top]="internalAxis.top-10+'px'">{{internalAxis.value.toFixed(2)}}</div>
						</div>
						<div class="x-axis" [style.top]="chartProperties.xAxisTop+'px'"></div>
						<div *ngIf='chartProperties.isShowGridLines' class='horizontal-grid-line' [style.top]="chartProperties.horizontalGridLineTop+'px'"></div>
						<div *ngIf='chartProperties.isShowGridLines' class='vertical-grid-line' [style.left]="chartProperties.verticalGridLineLeft+'px'"></div>
						<div *ngIf='chartProperties.isShowGridLines' class='Y-axis-orientation' [style.top]="chartProperties.YAxisOrientationTop+'px'">{{chartProperties.YAxisOrientation.toFixed(2)}}</div>
						<div *ngFor="let asset of ( candlestick ); let i=index;">	
							<div class='line' [style.top]="asset.top+'px'" [style.height]="asset.height+'px'" [style.left]="asset.left+'%'" 
							[style.width]="asset.width+'%'" [style.transform]="asset.safeTransform" (mouseenter)='toggleDataPopUp(i)' (mouseleave)='toggleDataPopUp(i)'></div>
							<div *ngIf='indexOfDataPopUp==i' class='data-square-pop-up'>
								<div><span style='float:left'>Price: </span><span style='float:right'>{{asset.close.toFixed(2)}}</span><span style='clear:both'></span></div>
								<div><span style='float:left'>Date: </span><span style='float:right'>{{asset.name}}</span><span style='clear:both'></span></div>
							</div>
						</div> 
					</div>	
				</div>
		
		</div>
		
	</div>	
     
  
</div>
  
