
<div *ngIf="isShowComponent" class="main-wrapper">
	<div class="table-header">Stock Indices</div>
	<div (click)='toggleSettings()' class='settings-icon'><menu-bar style="font-size:3px"></menu-bar></div>
	<div *ngIf='isSettings' class='settings-wrapper'>
		<div class='settings-div'>
			<div  class='check-box' (click)="toggleChartData()">
				<div class='v-mark'>
					<v-mark *ngIf='isShowYearlyChngV'></v-mark>
				</div>
			</div>
			<div class='check-box-note'>Show Yearly change</div>
			<div style='clear:both'></div>
		</div>
	</div>
	<div class='bar-chart'>
		<bar-chart *ngIf='chartDuration == "day"' [chartData]="assetsForPerformance" [chartConfig]="chartConfig2"></bar-chart>
		<bar-chart *ngIf='chartDuration == "year"' [chartData]="assetsForPerformance" [chartConfig]="chartConfig2"></bar-chart>
	</div>
	<div *ngIf="isShowStatistics" class="statistics-wrapper"> 
		<div class="statistic" style="margin-left:0;"><span style="color:green">Up: </span>{{advancers.toFixed(1)}}%<span class="delimiter">|</span></div>
		<div class="statistic"><span style="color:red">Down: </span>{{decliners.toFixed(1)}}%<span class="delimiter">|</span></div>
		<div class="statistic">Unchanged: {{unchanged.toFixed(1)}}%<span class="delimiter">|</span></div>
		<div class="statistic average">Average: {{averagePercChng.toFixed(2)}}%<span class="delimiter">|</span></div>
		<div class="statistic">Breadth: <span style="font-weight:bold;">{{breadth}}</span></div>
		<div style="clear:both"></div>
	</div>
</div>


